<html>
    <header>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </header>
    <body>
        <div class="container">
        {% for reaction in reactions %}
        <div class="card border-primary">
                <div class="card-header">{{reaction.user}}</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                {% if reaction.text %}
                <p>{{reaction.text}}</p>
                {% else %}
                <img class="card-img" src="{{reaction.image.url}}" alt="Card image cap" alt="75x75" style="width: 75px; height: 75px;">
                {% endif %}
                <footer class="blockquote-footer">{{reaction.created_at}}</footer>
              </blockquote>
            </div>
          </div>
          <br>
          {% endfor %}
        </div>
    </body>
</html>